R"SEP(

:root {
    --kitsune-orange: #ED960B;
    --kitsune-black: #1B0C04;
    --kitsune-purple: #7712CF;
    --kitsune-white: white;
}

.pad-medium {
    padding: 4px;
}

/* Temporary for focus debug (will probably turn this into a permanent CSS rule, looks like focus vs. active is a bit
weird, especially in the listview thing) */
:focus {
    border: 4px solid pink;
}

.dark {
    background-color: var(--kitsune-black);
}
.light-text {
    color: var(--kitsune-white);
}

.modeline-root .primary {
    background-color: var(--kitsune-purple);
}

.modeline-root label, .modeline-root text {
    padding: 4px;
}

vte-terminal {

}

)SEP"
