R"SEP(

.menu-row {
    padding: 4px;
}

.pad-medium {
    padding: 4px;
}

/* Temporary for focus debug (will probably turn this into a permanent CSS rule, looks like focus vs. active is a bit
weird, especially in the listview thing) */
::focus {
    border: 4px solid pink;
}

)SEP"
